body {
    font-family: Arial, sans-serif;
    background-color: #9c6464;
    text-align: center;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.click-area, .businesses, .upgrades {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
} 

#clickImage {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
}

#clickImage:hover {
    transform: scale(1.01);
}

.business {
    border: 2px solid #007BFF;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#resources {
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
}
