body {
    font-family: Arial, sans-serif;
    background-color: #bb7c7c;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.rank-info {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #3a3131;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

button {
    background-color: #27384a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #0056b3;
}

.flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.click-area, .businesses, .upgrades {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 5px;
}

#clickImage {
    cursor: pointer;
    max-width: 100%;
    height: auto;
    transition: transform 0.2s, opacity 0.2s;
    border-radius: 10px;
}

#clickImage:hover {
    transform: scale(1.01);
    opacity: 0.98;
}

#clickImage:active {
    transform: scale(1);
    opacity: 0.8;
}

.business {
    border: 2px solid #27384a;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#resources {
    font-size: 1.5rem;
}
.rank-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    
    .click-area, .businesses, .upgrades {
        width: 100%;
    }
}