:root {

    --text-color: hsl(0, 0%, 100%);
  }

html{
    box-sizing: border-box;
    font-size: 10px;

}
body{
    background-color: rgb(67, 71, 69);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}


.button-a-normal{
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    text-align: center;
    padding: 1.2rem;
    text-decoration: none;
    cursor: pointer;

}

.token-box {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.token-region {
  color: red;
  font-weight: bold;
}

.token-price {
  color: black;
  font-weight: bold;
}
.nav-wrapper{
  margin-top: -2rem;
  margin-left: 4rem;
  display: flex;
  justify-content: left;
}


/*Nav with Text in middle and links below*/
/*
.nav-links {

  background-color: #000000;
  color: #ffffff;
  font-size: 1.6rem;

}
.nav-links ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav-links li {
  margin: 0 1rem;
  list-style: none;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}
*/

/*Character Lookup Text*/
.split-text-wrapper {
  display: grid;
  place-content: center;
  background-color: rgb(67, 71, 69);
  min-height: 16rem;
  font-family: "Oswald", sans-serif;
  font-size: clamp(1.5rem, 1rem + 18vw, 6rem);
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-color);
}

.split-text-wrapper > div {
  grid-area: 1/1/-1/-1;
}
.top {
  clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  
}
.bottom {
  clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
  color: transparent;
  background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
  background-clip: text;
  -webkit-background-clip: text;
  transform: translateX(-0.02em);
}
















.auctions-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;
    padding: 1rem;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;
  
  }
  
  
  .auction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
  }
  
  .auction:hover {
    background-color: #303030;
  }
  .price {
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 16px;
    font-size: 1.4rem;
  }
  
  .price img {
    height: 12px;
    margin-right: 4px;
  }
  
  .item {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-right: 16px;
  }
  
  .img {
    flex: 0 0 56px;
    margin-right: 16px;
  }
  
  .img img {
    width: 60%;
    border-radius: 5px;
    border: 2px solid #1f1d1d;
    box-shadow: 5px 5px 5px #000000;
  }
  
  .name {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: large;
    
  }
  
  .quantity {
    flex: 0 0 40px;
    text-align: center;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
  }
  
  .wowhead {
    color: #ffffff;
    text-decoration: none;
  }
  
  .wowhead:hover {
    text-decoration: underline;
  }
  
  .goldText {
    color: #ffd700;
  }

  
.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #5a6953;
    border: 1px solid #000000;
    border-radius: 1rem;
    padding: 2rem 10rem;
    width: 40rem;
    margin: 5rem auto;
    font-size: 1.6rem;
  }
  .form form select,  
  .form form input{
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #000000;
  }
  
  .form form button:hover,
  .form form button:focus{
    background-color: #3e7248;
    color: #ffffff;
  }
  


@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

.loading-spinner {display: flex;
align-items: center;
justify-content: center;
height: 200px;
}
.loading-spinner::after{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: #666;
    animation: spin 1s linear infinite;
}